body {
  min-height: 100vh;
  width: 100vw;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(circle, #000814 0%, #000 80%);
}

.star {
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  will-change: transform, opacity;
  transform-origin: center;
  box-shadow: 0 0 8px 2px rgb(255, 180, 100, 0.7);
  filter: blur(1.2px);
}
