.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1.9vw;
  padding: 10px;
  z-index: 100;

  @media (width <= 600px) {
    grid-template-columns: 1fr;
  }
}
