.card-item {
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.card-item:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 40px rgb(0, 0, 0, 0.2);
}

@media (width >= 768px) {
  .card-item {
    height: 25vh;
  }
}

@media (width >= 1200px) {
  .card-item {
    height: 30vh;
  }
}

@media (width >= 1600px) {
  .card-item {
    height: 35vh;
  }
}

.card-item__image {
  flex-shrink: 0;
  height: 80%;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.card-item__description {
  padding: 10px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  overflow: hidden;
}
