.main__buttons {
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: center;
  gap: 1vw;
  margin-top: 2.96vh;

  @media (width <= 480px) {
    margin-top: 5vh;
  }

  @media (width <= 768px) {
    margin-top: 4vh;
  }
}
