.fast_text {
  font-family: Orbitron, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.15rem;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgb(255, 198, 149) 0%,
    rgb(99, 102, 118) 50%,
    rgb(0, 20, 38) 100%
  );
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(0, 0, 0, 0.2);
  text-stroke: 1px rgb(0, 0, 0, 0.2);
}

.main__fast__text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
