.fast_text {
  font-family: 'Clash Grotesk';
  font-size: 5rem;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  background: linear-gradient(
    90deg,
    #ff3bff 0%,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.main__fast__text__wrapper {
  display: flex;
  justify-content: center;
}
