.main__background__image__wrapper {
  display: flex;
  margin-top: -21vh;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  z-index: -1;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main__background__image {
  flex: 1 1 auto;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.main__background__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (width <= 1024px) {
  .main__background__image img {
    object-fit: cover;
  }
}

.main__background {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  overflow: hidden;

  /* Скрываем верхние 10vh изображения */
  clip-path: inset(10vh 0 0 0);

  &::before {
    content: '';
    position: absolute;
    top: -10vh; /* Смещаем псевдоэлемент вверх */
    left: 0;
    width: 100%;
    height: calc(100% + 10vh); /* Увеличиваем высоту */
    background: inherit;
    filter: blur(15px);
    opacity: 0.6;
    pointer-events: none;

    /* Альтернативный способ скрыть верх */

    /* clip-path: inset(10vh 0 0 0); */
  }
}
