.main__background__wrapper {
  display: flex;
  margin-top: -5vh;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  z-index: -1;
  height: 100vh; // или 100% если родитель ограничен
  position: relative;
  overflow: hidden;
}

.main__background {
  flex: 1 1 auto;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.main__background img {
  width: 100%;
  height: 100%;
  object-fit: cover; // или contain, если не хотите обрезать
  display: block;
}
