.menu__options {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.list-inline {
  list-style: none;
  gap: 3.5vw;
  padding: 0;
  margin: 0;

  display: flex;

  &__item {
    text-decoration: none;
    color: #FFF;
    font-family: "Clash Grotesk";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
