.main_text {
  color: #fff;
  font-family: 'Clash Grotesk';
  font-size: clamp(4rem, 5vw, 5rem);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin: -0.1vw auto 0;
  max-width: 95vw;
  word-wrap: break-word;
}

.main__text__main__wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
}
