.main_text {
  color: #fff;
  font-family: 'Clash Grotesk';
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-top: -0.1vw;
}

.main__text__main__wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}
