.header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  background: rgb(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  opacity: 80%;
  display: flex;
  justify-content: center;
}
