.header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}
